.closeButton {
  position: absolute;
  background: rgb(253, 186, 186);
  color: rgb(80, 65, 65);
  width: 24px;
  height: 24px;
  top: 2px;
  right: 2px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.closeButton:hover {
  background: rgb(250, 134, 134);
}

.mymodal {
  position: relative;
  border: 1px solid #ccc;
  background: #fff;
  overflow: auto;
  border-radius: 5px;
  outline: none;
  padding: 24px;
  width: 100%;
  height: 100%;
  animation: popup 0.5s ease forwards;
}

.myoverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  padding: 5% 10%;
  background-color: rgba(0, 0, 0, 0.75);
}

@keyframes popup {
  0% {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    opacity: 0.1;
  }

  80% {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.1);
    opacity: 0.9;
  }
  100% {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
}
